.messages {
	background: #fff;
	padding: 0 10px 10px 10px;
	.search-wrap {
		.input-control {
			position: relative;
			.form-control {
				margin-left: 4px;
				border-left: 1px solid #ccc;
			}
			.time-input {
				width: 100px;
				font-size: 12px;
				border-left: 1px solid #ccc;
			}
			.icon-calendar {
				position: absolute;
				right: 200px;
				top: 10px;
				&.cal-2 {
					right: 60px;
				}
			}
			.step {
				margin-right: 5px;
			}
			&:last-child {
				width: 410px;
				position: relative;
			}
		}
	}
    .option {
        position: relative;
        h3 {
            display: inline-block;
            color: #666;
            font-weight: normal;
            > .icon-xueyuan {
                font-size: 32px;
                float: left;
                margin: 10px 6px 0 0;
            }
            > span {
                font-size: 30px;
                color: #555;
            }
        }
        .opration {
            display: inline-block;
            position: absolute;
            right: 20px;
            top: 5px;
            .search {
                width: 50px;
            }
            .reset {
                width: 50px;
            }
        }
    }
    .messages-table {
		width: 100%;
		border: 1px solid #ccc;
		border-top: 2px solid #66ccff;
		tr {
			border-bottom: 1px solid #ccc;
			&:hover {
				background: #efefef;
			}
			td {
				text-align: center;
				height: 2.8rem;
				line-height: 2.8rem;
				border-right: 1px solid #ccc;
				.opration {
					border: none;
					cursor: pointer;
					background: #66ccff;
					color: #fff;
					padding: 2px 10px;
					cursor: pointer;
					border-radius: 5px;
				}
				.refuse {
					background: #f51e0b;
				}
			}
			&:first-child {
				&:hover {
					background: #fff;
				}
				td {
					height: 3.6rem;
					line-height: 3.6rem;
					font-weight: 600;
				}
			}
		}
	}
}
