.wechat-fans {
	input[type="checkbox"] {
		-webkit-appearance: checkbox;
	}
	input[type="radio"] {
		-webkit-appearance: radio;
	}
	.process-cell {
 		color: #fff;
 		padding: 3px 10px;
 		font-size: 14px;
 		background: #02a4f9;
 	}
}