<!DOCTYPE html><html lang=zh-CN><head><meta charset=UTF-8><title>签到</title><meta name=apple-mobile-web-app-capable content=yes><meta name=viewport content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"><meta name=apple-mobile-web-app-capable content=yes><meta name=apple-mobile-web-app-status-bar-style content=black-translucent><meta name=apple-mobile-web-app-title><meta name=mobile-web-app-capable content=yes><style>
            html {
                font-size: 62.5%;
            }
        </style><link rel="shortcut icon" href=http://www.tianxiao100.com/favicon.ico type=image/x-icon><link rel=stylesheet href=/src/resource/css/plugins_f02895722b.css type=text/css><link rel=stylesheet href=/src/m/sign/sign_38eba7d6be.css type=text/css><meta name=format-detection content="telephone=no"></head><body><toast :show.sync=showToast :type=toastType v-cloak>{{ toastMessage }}</toast><router-view></router-view><script type=text/javascript src=/src/plugins_7f956c3b57.js></script><script>
            document.body.style.fontSize = '1.6rem';
            FastClick.attach(document.body);
        </script><script src=http://res.wx.qq.com/open/js/jweixin-1.0.0.js></script><script src=/src/sign_3d698ff9af.js></script><script>
        FastClick.attach(document.body);
    </script></body></html>