#classroomForm {
    .form-group {
        input {
            width: 100%;
        }

        .btn-group {
            width: 100%;
            button {
                height: 38px;
                width: 100%;
            }
        }
    }
}